
body{
	font-family:"Segoe UI";
	background-color:#202020;

}
body, .text_input {
 
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  min-width: 70vh;
  margin-left: (5rem );

}

body, .text_out {
 
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  margin-top: calc(2rem);
}

.button {
  position: absolute ;
  min-height: 5vh;
  min-width: 10vh;
  margin-left: calc(2rem + 2px);
}

h1,h3,h5{
	text-align:center;
	color:#FFFFFF;
	
}

a{
	color:#cdd4ca;

}

mark{
	background-color:#FFA500;
}
span{
  background-color:#FFA500;
	border: 2px solid #FFA500;
	border-radius: 5px;

}
nav ul{
	display:flex;
	justify-content:space-around;
	background-color: #252525;
	height: 40px;
	padding-top:20px;
	border-style: dotted;
  border-color: #ffffff;
}
.output_box{
  width: 400px; 
  height: 40px; 
  position: relative; 
  left: 600px; 
  top: 12px
}
.slide{
  width: 300px; 
  height: 100px; 
  position: relative; 
  left: 600px; 
  top: 10px
}
.slide2{
  width: 300px; 
  height: 100px; 
  position: relative; 
  left: 600px; 
  bottom: 210px
}
.button{
  position: relative;
  left: 1000px;
  bottom: 141px; 
  width: 100px;
  height: 40px;
}
.button2{
  position: relative;
  left: 440px;
  bottom: 260px; 
  width: 100px;
  height: 40px;
}
.number{
  position: relative; 
  bottom: 100px;
  left: 940px;
  color:#FFFFFF;
}
.number2{
  position: relative; 
  bottom: 275px;
  left: 771px;
  color:#FFFFFF;
}
.password{
  position: relative; 
  left: 600px; 
  bottom:150px;
  color:#FFFFFF;
}
.password2{
  position: relative; 
  left: 600px; 
  bottom:305px;
  color:#FFFFFF;
}
.A-Z{
  position: relative;
  left:1030px;
  bottom: 230px;
}
.a-z{
  position: relative;
  left:1006px;
  bottom: 200px;
}
.nums{
  position: relative;
  left:982px;
  bottom: 170px;
}
.symbols{
  position: relative;
  left:958px;
  bottom: 140px;
}
.with{
  color:#FFFFFF
}
.up{
  position: relative;
  left:1060px;
  bottom: 148px;
}
.low{
  position: relative;
  left:1060px;
  bottom: 138px;
}
.numes{
  position: relative;
  left:1060px;
  bottom: 128px;
}
.symb{
  position: relative;
  left:1060px;
  bottom: 118px;
}
.textarea{
  position: relative;
  left:420px;
  bottom: 220px;
  width: 400px;
  height: 80px
}
.invis{
  position: relative;
  left: 180px;
  bottom: 30px;
}
.line{
  display:flex;
	justify-content:space-around;
	background-color: #ffffff;
	border-style: dotted;
}




