<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  TO MAIN PAGE: <a href="http://localhost:3000/whether">Main</a>
  <br>
  Whether in cities: 
    {{#each cities.cities }}
      <a href="http://localhost:3000/whether/{{.}}">{{.}}</a>
    {{/each}}

  </body>
</html>